
<div class="picItem" data-picture-id="{{ picture.id }}">
    <a href="{{
    include('picture/_link.html.twig', {
        'picture': picture ,
        'album': album ,
        'genre': genre ,
        'tag': tag
    })
    }}">
        <img src="/{{ picture.path }}/thumb/2/{{ picture.filename }}" >
    </a>
</div>