<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{# page_tag_description #}" />
    <meta name="keywords" content="{# page_tag_keywords #}" />
    <meta name="language" content="ru" />
    {% block stylesheets %}
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
    {% endblock %}

    <title>{# page_title #}</title>
</head>
<body>

{% block javascript %}
    <script src="{{ asset('js/resize.js') }}"></script>
{% endblock %}

{% block main_menu %}
main menu
{% endblock %}

<div id="contentContainer">
    <div id="content">
{% block body %}{% endblock %}
    </div>
</div>


<div id="footer">Footer text</div>

{{ include('layout/_counter.html.twig') }}

</body></html>
